[user]
	name = bradrf
	email = brad@gigglewax.com
[core]
	excludesfile = /Users/brad/.gitignore_global
[color]
	ui = true
[alias]
	co = checkout
	st = status
	br = branch
	brl = branch -a --no-merged
	bra = branch -r --list
        br-clean = !sh -c 'git branch --merged | grep -v "^\\*" | xargs -n1 git branch -d'
        br-recent = for-each-ref --sort=-committerdate --format='%(committerdate) %(authorname) %(refname:short)' refs/heads/
        stl = stash list
        std = stash show -u
        sdiff = diff --staged
        wdiff = diff --color-words
        # can optionally pass "--all" or a branch name to tree:
        tree = log --graph --decorate --oneline
[Push]
	default = matching
